- name: Create Whoogle container
  community.docker.docker_container:
    name: whoogle
    image: benbusby/whoogle-search:latest

    env:
      WHOOGLE_CONFIG_THEME: "system"

      # https://github.com/benbusby/whoogle-search/wiki/User-Agents
      WHOOGLE_USER_AGENT: "Mozilla/3.0 (compatible; MSIE 3.0; Windows NT 5.0)"
      WHOOGLE_USER_AGENT_MOBILE: "Mozilla/3.0 (compatible; MSIE 3.0; Windows NT 5.0)"

    ports: "{{ whoogle_ports | default([]) }}"

    networks: "{{ docker_networks }}"
    comparisons: "{{ docker_comparisons }}"
    image_name_mismatch: "{{ docker_image_name_mismatch }}"
    state: "{{ docker_state }}"
    restart_policy: "{{ docker_restart_policy }}"
    pull: "{{ docker_pull }}"

- name: Register Whoogle container name
  ansible.builtin.set_fact:
    whoogle_container_name: "whoogle"
