global:
  scrape_interval: 30s
  evaluation_interval: 30s

scrape_configs:
  - job_name: "pve-exporter"
    static_configs:
      - targets: ["{{ prometheus_pve_exporter_container_name }}:9221"]
    metrics_path: /pve
    params:
      target: {{ prometheus_pve_exporter_targets }}

{% for config in prometheus_scrape_configs %}
  - job_name: "{{ config.job_name }}"
    static_configs:
      - targets: {{ config.targets }}
    metrics_path: {{ config.metrics_path | default('/metrics') }}
{% endfor %}

