- name: Set IP of apt proxy
  set_fact:
    apt_proxy_host: >-
      {{ lookup('pipe', 'terraform -chdir=/root/homelab-public/terraform/wieprz output -json')
         | from_json
         | json_query('apt_cacher_ip.value') }}

- name: Install detect-http-proxy
  ansible.builtin.template:
    src: detect-http-proxy.j2
    dest: /etc/apt/detect-http-proxy
    mode: "0755"

- name: Configure apt proxy
  ansible.builtin.template:
    src: 90proxy.j2
    dest: /etc/apt/apt.conf.d/90proxy
    mode: "0644"
