- name: Install gpg
  ansible.builtin.apt:
    name: gpg

- name: Add Google repository key
  ansible.builtin.apt_key:
    url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
    keyring: /etc/apt/trusted.gpg.d/google-cloud-sdk.gpg

- name: Add Google Cloud SDK repository
  ansible.builtin.apt_repository:
    repo: deb http://packages.cloud.google.com/apt cloud-sdk main
    filename: google-cloud-sdk

- name: Add Mise repository key
  ansible.builtin.apt_key:
    url: https://mise.jdx.dev/gpg-key.pub
    keyring: /etc/apt/trusted.gpg.d/mise.gpg

- name: Add Mise repository
  ansible.builtin.apt_repository:
    repo: deb https://mise.jdx.dev/deb stable main
    filename: mise

- name: Install packages
  ansible.builtin.apt:
    name: "{{ dev_packages }}"

- name: Add user
  ansible.builtin.user:
    name: "{{ dev_user_name }}"
    password: "*"
    shell: /bin/bash
    group: sudo

- name: Set authorized key
  ansible.posix.authorized_key:
    user: "{{ dev_user_name }}"
    key: "{{ dev_user_authorized_key }}"

- name: Sudo nopasswd
  ansible.builtin.copy:
    dest: /etc/sudoers.d/nopasswd-{{ dev_user_name }}
    content: "{{ dev_user_name }} ALL=(ALL) NOPASSWD:ALL"
    mode: "0440"
