- name: Create Omada volumes
  community.docker.docker_volume:
    volume_name: "{{ item }}"
  loop:
    - omada-data
    - omada-work
    - omada-logs

- name: Create Omada controller container
  community.docker.docker_container:
    name: omada-controller
    image: mbentley/omada-controller:6 # expect breaking changes with major version updates

    volumes:
      - omada-data:/opt/tplink/EAPController/data:rw
      - omada-work:/opt/tplink/EAPController/work:rw
      - omada-logs:/opt/tplink/EAPController/logs:rw

    env:
      TZ: "{{ timezone | default('UTC') }}"

    ulimits:
      - "nofile:4096:8192"

    ports: "{{ omada_controller_ports | default([]) }}"

    networks: "{{ docker_networks }}"
    comparisons: "{{ docker_comparisons }}"
    image_name_mismatch: "{{ docker_image_name_mismatch }}"
    state: "{{ docker_state }}"
    restart_policy: "{{ docker_restart_policy }}"
    pull: "{{ docker_pull }}"

- name: Register Omada controller container name
  ansible.builtin.set_fact:
    omada_controller_container_name: "omada-controller"

- name: Create Omada Prometheus exporter container
  community.docker.docker_container:
    name: omada-prometheus-exporter
    image: chhaley/omada_exporter:latest

    env:
      OMADA_HOST: "https://{{ omada_controller_container_name }}:8043"
      OMADA_USER: "{{ omada_prometheus_exporter_user }}"
      OMADA_PASS: "{{ omada_prometheus_exporter_password }}"
      OMADA_SITE: "{{ omada_prometheus_exporter_site }}"
      OMADA_INSECURE: "true"

    ports: "{{ omada_prometheus_exporter_ports | default([]) }}"

    networks: "{{ docker_networks }}"
    comparisons: "{{ docker_comparisons }}"
    image_name_mismatch: "{{ docker_image_name_mismatch }}"
    state: "{{ docker_state }}"
    restart_policy: "{{ docker_restart_policy }}"
    pull: "{{ docker_pull }}"

- name: Register Omada Prometheus exporter container name
  ansible.builtin.set_fact:
    omada_prometheus_exporter_container_name: "omada-prometheus-exporter"
