- name: Create Stirling-PDF volumes
  community.docker.docker_volume:
    volume_name: "{{ item }}"
  loop:
    - stirling-pdf-data

- name: Create Stirling-PDF container
  community.docker.docker_container:
    name: stirling-pdf
    image: stirlingtools/stirling-pdf:latest

    env:
      SECURITY_ENABLELOGIN: "false"
      VITE_API_BASE_URL: "https://pdf.{{ ansible_domain }}"

    volumes:
      - stirling-pdf-data:/configs:rw

    ports: "{{ stirling_pdf_ports | default([]) }}"

    networks: "{{ docker_networks }}"
    comparisons: "{{ docker_comparisons }}"
    image_name_mismatch: "{{ docker_image_name_mismatch }}"
    state: "{{ docker_state }}"
    restart_policy: "{{ docker_restart_policy }}"
    pull: "{{ docker_pull }}"

- name: Register Stirling-PDF container name
  ansible.builtin.set_fact:
    stirling_pdf_container_name: "stirling-pdf"
