server:
  http_listen_port: 9080
  grpc_listen_port: 0
  log_level: warn

positions:
  filename: /var/lib/promtail/positions.yaml

clients:
  - url: http://{{ promtail_loki_host }}:{{ promtail_loki_port }}/loki/api/v1/push

scrape_configs:
  - job_name: journal
    journal:
      path: /var/log/journal
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: app
      - source_labels: ['__journal_priority_keyword']
        target_label: level
    pipeline_stages:
      - static_labels:
          job: journal
          hostname: {{ ansible_hostname }}

{% if promtail_docker.stat.issock is defined and promtail_docker.stat.issock %}
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 10s
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: app
    pipeline_stages:
      - static_labels:
          job: docker
          hostname: {{ ansible_hostname }}
{% endif %}
