- name: Create /etc/mosquitto
  ansible.builtin.file:
    path: /etc/mosquitto
    state: directory
    mode: "0755"

- name: Configure Mosquitto
  ansible.builtin.template:
    src: mosquitto.conf.j2
    dest: /etc/mosquitto/mosquitto.conf
    mode: "0644"
  notify:
    - Restart Mosquitto

- name: Register Mosquitto password file status
  ansible.builtin.stat:
    path: "/etc/mosquitto/passwd"
  register: mosquitto_password_file

- name: Configure Mosquitto password file (once)
  when: not mosquitto_password_file.stat.exists
  block:
    - name: Create Mosquitto empty password file
      ansible.builtin.copy:
        content: ""
        dest: /etc/mosquitto/passwd
        mode: "0600"

    - name: Encrypt Mosquitto passwords
      community.docker.docker_container:
        name: mosquitto-passwd
        image: eclipse-mosquitto:latest
        command: "mosquitto_passwd -b /mosquitto/config/passwd {{ item.key }} {{ item.value }}"
        volumes:
          - "/etc/mosquitto/passwd:/mosquitto/config/passwd"

      loop: "{{ mosquitto_users | dict2items }}"
      no_log: true
      notify:
        - Restart Mosquitto

- name: Create Mosquitto volumes
  community.docker.docker_volume:
    volume_name: "{{ item }}"
  loop:
    - mosquitto-data

- name: Create Mosquitto container
  community.docker.docker_container:
    name: mosquitto
    image: eclipse-mosquitto:latest

    volumes:
      - /etc/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - /etc/mosquitto/passwd:/mosquitto/config/passwd
      - mosquitto-data:/mosquitto/data

    ports: "{{ mosquitto_ports | default([]) }}"

    networks: "{{ docker_networks }}"
    comparisons: "{{ docker_comparisons }}"
    image_name_mismatch: "{{ docker_image_name_mismatch }}"
    state: "{{ docker_state }}"
    restart_policy: "{{ docker_restart_policy }}"
    pull: "{{ docker_pull }}"

- name: Register Mosquitto container name
  ansible.builtin.set_fact:
    mosquitto_container_name: "mosquitto"

- name: Create Mosquitto exporter container
  community.docker.docker_container:
    name: mosquitto-prometheus-exporter
    image: sapcc/mosquitto-exporter:latest

    env:
      BROKER_ENDPOINT: "tcp://{{ mosquitto_container_name }}:1883"
      MQTT_USER: "prometheus"
      MQTT_PASS: "{{ mosquitto_users['prometheus'] }}"

    ports: "{{ mosquitto_prometheus_exporter_ports | default([]) }}"

    networks: "{{ docker_networks }}"
    comparisons: "{{ docker_comparisons }}"
    image_name_mismatch: "{{ docker_image_name_mismatch }}"
    state: "{{ docker_state }}"
    restart_policy: "{{ docker_restart_policy }}"
    pull: "{{ docker_pull }}"

- name: Register Mosquitto Prometheus exporter container name
  ansible.builtin.set_fact:
    mosquitto_prometheus_exporter_container_name: "mosquitto-prometheus-exporter"
