# https://github.com/gramps-project/gramps-web-docs/blob/main/examples/docker-compose-base/docker-compose.yml

- name: Create Gramps volumes
  community.docker.docker_volume:
    volume_name: "{{ item }}"
  loop:
    - gramps-users
    - gramps-index
    - gramps-thumb-cache
    - gramps-cache
    - gramps-secret
    - gramps-db
    - gramps-media
    - gramps-tmp

- name: Create Gramps Redis container
  community.docker.docker_container:
    name: gramps-redis
    image: docker.io/library/redis:7

    networks: "{{ docker_networks }}"
    comparisons: "{{ docker_comparisons }}"
    image_name_mismatch: "{{ docker_image_name_mismatch }}"
    state: "{{ docker_state }}"
    restart_policy: "{{ docker_restart_policy }}"
    pull: "{{ docker_pull }}"

- name: Create Gramps container
  community.docker.docker_container: &gramps_container
    name: gramps
    image: ghcr.io/gramps-project/grampsweb:latest

    env:
      GRAMPSWEB_TREE: "Gramps"
      GRAMPSWEB_CELERY_CONFIG__broker_url: "redis://gramps-redis:6379/0"
      GRAMPSWEB_CELERY_CONFIG__result_backend: "redis://gramps-redis:6379/0"
      GRAMPSWEB_RATELIMIT_STORAGE_URI: redis://gramps-redis:6379/1
      GRAMPSWEB_BASE_URL: "https://gramps.{{ ansible_domain }}"
      GRAMPSWEB_EMAIL_HOST: "192.168.10.12"
      GRAMPSWEB_EMAIL_PORT: "8025"
      GRAMPSWEB_EMAIL_USE_TLS: "False"
      GRAMPSWEB_REGISTRATION_DISABLED: "True"

      GUNICORN_NUM_WORKERS: "2"

    volumes:
      - gramps-users:/app/users
      - gramps-index:/app/indexdir
      - gramps-thumb-cache:/app/thumbnail_cache
      - gramps-cache:/app/cache
      - gramps-secret:/app/secret
      - gramps-db:/root/.gramps/grampsdb
      - gramps-media:/app/media
      - gramps-tmp:/tmp

    ports: "{{ gramps_ports | default([]) }}"

    networks: "{{ docker_networks }}"
    comparisons: "{{ docker_comparisons }}"
    image_name_mismatch: "{{ docker_image_name_mismatch }}"
    state: "{{ docker_state }}"
    restart_policy: "{{ docker_restart_policy }}"
    pull: "{{ docker_pull }}"

- name: Register Gramps container name
  ansible.builtin.set_fact:
    gramps_container_name: "gramps"

- name: Create Gramps Celery container
  community.docker.docker_container:
    <<: *gramps_container
    name: gramps-celery
    command: celery -A gramps_webapi.celery worker --loglevel=INFO --concurrency=1
    ports: []
